name: Test Suite

on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - main

jobs:
  test:
    runs-on: ubuntu-latest
    services:
      mongodb:
        image: mongo:4.4
        ports:
          - 27017:27017

    steps:
    - name: Checkout Repository
      uses: actions/checkout@v3

    - name: Setup Node.js
      uses: actions/setup-node@v3
      with:
        node-version: '16'

    #- name: Start MongoDB
    #  uses: supercharge/mongodb-github-action@1.10.0
    #  with:
    #   mongodb-version: {{ matrix.mongodb-version }}

    - name: Install Dependencies
      working-directory: ./backend
      run: npm install

    - name: Run Tests
      working-directory: ./backend
      run: npm test

